<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{course?.title}}</ion-title>
        <ion-badge slot="end">{{course?.id}}</ion-badge>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">course-overview</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        <app-course-overview-item
            *ngFor="let courseItem of course?.courseItems"
            [courseItem]="courseItem"
        >
        </app-course-overview-item>
    </ion-list>
</ion-content>
